html{
  font-family: helvetica;
  text-align: center;
}

.Header{
    color: white;
    background-image: url("https://cazzam.github.io/broadway2/resources/images/the-flatiron-building.png");
}

.Header .Menu a:link{
  font-size: 18px;
  text-align: center;
  color: white;


}

nav a {
  display: block;
  margin: 0;
  padding: 0:
  padding-top: 2px;
  padding-bottom: 2px;  
}

.Header h1{
  font-size: 70px;
  font-weight: bold;
}
